{% load static %}
{% load crispy_forms_tags %}
<head>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}"
          rel="stylesheet"
          type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}"
          rel="stylesheet"
          type="text/css">
</head>
<div class="d-flex flex-start">
    <a class="link-style" href="{% url 'profile' comment.author.username %}">
        <img class="rounded-circle shadow-1-strong me-3"
             src="{% static "images/pf_default.jpg" %}"
             alt="avatar"
             width="50"
             height="50" />
    </a>
    <div class="flex-grow-1 flex-shrink-1">
        <div class="">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a class="link-style" href="{% url 'profile' comment.author.username %}">
                        <p class="mb-1">
                        {{ comment.author.username }}</a>
                        -
                        <span class="">2 hours ago</span>
                    </p>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    {% if user.is_authenticated and comment.author == user %}
                        <span class="d-flex align-items-center comment-icon negative-icon">
                            <a class="text-decoration-none"
                               href="{% url 'comment_delete' comment.id %}">
                                <i class="fa-solid fa-trash negative-icon comment-icon"></i>
                            </a>
                        </span>
                    {% endif %}
                </div>
            </div>
            <p class="mb-0">{{ comment.body }}</p>
        </div>
        <div class="d-flex align-items-center py-2 px-2 gap-4 icon-bar">
            <i class="fa-solid fa-up-long comment-icon positive-icon"></i>
            <i class="fa-solid fa-down-long comment-icon negative-icon"></i>
            <span id="showFormButton-{{ comment.id }}"
                  class="d-flex align-items-center comment-icon reply-icon">
                <i class="fa-solid fa-comment-dots me-1"></i>
                <span>Reply</span>
            </span>
        </div>
        {% if reply_form %}
            <div id="replyContainer-{{ comment.id }}"
                 class="py-4"
                 style="display: none">
                <form method="POST" action="{% url 'reply_sent' comment.id %}">
                    {% csrf_token %}
                    {% crispy reply_form %}
                </form>
            </div>
        {% endif %}
        {% for reply in comment.replies.all %}
            {% include 'reply.html' %}
        {% endfor %}
    </div>
</div>
<script>
	document.getElementById('showFormButton-{{ comment.id }}').addEventListener('click', function() {
		document.getElementById('replyContainer-{{ comment.id }}').style.display = 'block';
        });
</script>
