{% load static %}
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">askDVC</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-nav me-auto mb-2 mb-lg-0">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2"
                               type="search"
                               placeholder="Search"
                               aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <div class="d-flex align-items-center ms-auto">
            <!-- Right-aligned buttons and dropdown -->
            <ul class="navbar-nav ms-auto align-items-center">
                {% if user.is_authenticated %}
                    <!-- New Post Button -->
                    <li class="nav-item me-2">
                        <a class="btn btn-info" href="{% url 'post' %}">New Post</a>
                    </li>
                    <!-- Dropdown with profile/settings/logout -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center"
                           href="#"
                           id="navbarDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <img src="{{ profile.picture.url }}"
                                 alt="Avatar"
                                 class="rounded-circle me-2"
                                 width="32"
                                 height="32">
                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="{% url 'profile_settings' request.user.id %}">Settings</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'profile' user.username %}">Profile</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <a class="dropdown-item" href="{% url 'logout' %}">Sign out</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <!-- Login and Sign Up buttons for unauthenticated users -->
                    <li class="nav-item me-2">
                        <a class="btn btn-light" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-light" href="{% url 'signup' %}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<!--</div>-->
