{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="col py-2">
        {% if form %}
            <h2>Make a Post</h2>
            <div class="py-4">
                <form method="POST">
                    {% csrf_token %}
                    <!-- categories dropdown -->
                    <!-- <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="categories" data-bs-toggle="dropdown" aria-expanded="false">
                        Add Categories
                    </button>
                    <div class="dropdown-menu p-3" aria-labelledby="categories">
                        <div class="btn-group-vertical" role="group" aria-label="category-toggles"> -->
                    <!-- <div class="icheck-material-lightblue">
                                <input type="checkbox" id="categ-general" autocomplete="off">
                                <label for="categ-general">General</label>
                            </div>

                            <div class="icheck-material-indigo">
                                <input type="checkbox" id="categ-classes" autocomplete="off">
                                <label for="categ-classes">Classes</label>
                            </div>

                            <div class="icheck-material-purple">
                                <input type="checkbox" id="categ-profs" autocomplete="off">
                                <label for="categ-profs">Professors</label>
                            </div>

                            <div class="icheck-material-lightgreen">
                                <input type="checkbox" id="categ-food" autocomplete="off">
                                <label for="categ-food">Food</label>
                            </div>

                            <div class="icheck-material-teal">
                                <input type="checkbox" id="categ-transfer" autocomplete="off">
                                <label for="categ-transfer">Transfer</label>
                            </div>
                            
                            <div class="icheck-material-pink">
                                <input type="checkbox" id="categ-geese" autocomplete="off">
                                <label for="categ-geese">Geese</label>
                            </div>
                            
                        </div> -->
                    <!-- </div>
                </div> -->
                    {% crispy form %}
                    <button type="submit" class="btn btn-primary">Post</button>
                </form>
            </div>
        {% endif %}
    </div>
    <br />
    <br />
{% endblock %}
