{% block content %}
    <div class="card">
        <h5 class="card-header list-group-item-success">
            <a class="link-style" href="{% url 'post_page' post.id %}">{{ post.title }}</a>
        </h5>
        <div class="card-body">
            <a class="link-style" href="{% url 'profile' post.user.username %}">
                <p class="card-title link-style">@{{ post.user.username }}</p>
            </a>
            <p class="card-text">{{ post.body|truncatechars:300 }}</p>
        </div>
    </div>
{% endblock %}
