{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <h1>{{ post.title }}</h1>
        <p class="text-body-secondary">@{{ post.user }}</p>
        <p>{{ post.body }}</p>
        <!--<div class="media-block pad-all">-->
        <form method="POST" action="{% url 'comment_sent' post.id %}">
            {% csrf_token %}
            {{ comment_form }}
            <br />
            <button type="submit" class="btn btn-primary">Reply</button>
        </form>
        <section>
            <div class="container my-5 py-5">
                <div class="row d-flex justify-content-center">
                    <!--<div class="col-md-12 col-lg-10 col-xl-8">-->
                    <div class="card">
                        <div class="card-body p-4">
                            <h4 class="mb-4 pb-2">Comments</h4>
                            <div class="row">
                                <div class="col">
                                    {% for comment in post.comments.all %}
                                        <div class="d-flex flex-start">
                                            <a href="{% url 'profile' comment.author.id %}">
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                     src="{% static "images/pf_default.jpg" %}"
                                                     alt="avatar"
                                                     width="65"
                                                     height="65" />
                                            </a>
                                            <div class="flex-grow-1 flex-shrink-1">
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <a href="{% url 'profile' comment.author.id %}">
                                                            <p class="mb-1">
                                                                {{ comment.author.username }}<span class="small">- 2 hours ago</span>
                                                            </p>
                                                            <a href="#!"><i class="fas fa-reply fa-xs"></i><span class="small">reply</span></a>
                                                        </div>
                                                        <p class="small mb-0">{{ comment.body }}</p>
                                                    </div>
                                                    <!--<div class="d-flex flex-start mt-4">-->
                                                    <!--    <a class="me-3" href="#">-->
                                                    <!--        <img class="rounded-circle shadow-1-strong"-->
                                                    <!--             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp"-->
                                                    <!--             alt="avatar"-->
                                                    <!--             width="65"-->
                                                    <!--             height="65" />-->
                                                    <!--    </a>-->
                                                    <!--    <div class="flex-grow-1 flex-shrink-1">-->
                                                    <!--        <div>-->
                                                    <!--            <div class="d-flex justify-content-between align-items-center">-->
                                                    <!--                <p class="mb-1">-->
                                                    <!--                    Simona Disa <span class="small">- 3 hours ago</span>-->
                                                    <!--                </p>-->
                                                    <!--            </div>-->
                                                    <!--            <p class="small mb-0">-->
                                                    <!--                letters, as opposed to using 'Content here, content here',-->
                                                    <!--                making it look like readable English.-->
                                                    <!--            </p>-->
                                                    <!--        </div>-->
                                                    <!--    </div>-->
                                                    <!--</div>-->
                                                    <!--<div class="d-flex flex-start mt-4">-->
                                                    <!--    <a class="me-3" href="#">-->
                                                    <!--        <img class="rounded-circle shadow-1-strong"-->
                                                    <!--             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"-->
                                                    <!--             alt="avatar"-->
                                                    <!--             width="65"-->
                                                    <!--             height="65" />-->
                                                    <!--    </a>-->
                                                    <!--    <div class="flex-grow-1 flex-shrink-1">-->
                                                    <!--        <div>-->
                                                    <!--            <div class="d-flex justify-content-between align-items-center">-->
                                                    <!--                <p class="mb-1">-->
                                                    <!--                    John Smith <span class="small">- 4 hours ago</span>-->
                                                    <!--                </p>-->
                                                    <!--            </div>-->
                                                    <!--            <p class="small mb-0">-->
                                                    <!--                the majority have suffered alteration in some form, by-->
                                                    <!--                injected humour, or randomised words.-->
                                                    <!--            </p>-->
                                                    <!--        </div>-->
                                                    <!--    </div>-->
                                                    <!--</div>-->
                                                </div>
                                            </div>
                                            <hr>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
