{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <h2 style="color:#afaeb5">Profile Settings</h2>

    <div class="card p-4">
        <h4>Current Settings</h4>

        <div class="mb-3">
            <strong>Profile Picture:</strong><br>

            <img src="{% if profile.picture %}{{ profile.picture.url }}{% else %}/static/images/pf_default.jpg{% endif %}" alt="Profile Picture" class="img-thumbnail" width="150">
        </div>

        <div class="mb-3">
            <strong>Username:</strong> {{ profile.user.username }}
        </div>

        <div class="mb-3">
            <strong>Bio:</strong> {{ profile.bio }}
        </div>

        <div class="mb-3">
            <strong>Color Theme:</strong> {% if profile.dark_mode %} Dark Mode {% else %} Light Mode {% endif %}
        </div>

        <a href="{% url 'edit_settings' request.user.id %}" class="btn btn-primary">Edit Settings</a>
    </div>
</div>
{% endblock %}